<!DOCTYPE html>
<html>
  <head>
    <title>Railsblog2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<nav class="navbar navbar-light bg-faded">
  </button>
  <class="navbar-brand"> CatChat</div>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Dashboard</a>
      <a class="nav-item nav-link" href="#">Feed</a>
      <a class="nav-item nav-link" href="#">Sign Out</a>
    </div>
  </div>
</nav>

  <body>


    <%= yield %>
  </body>
</html>
